parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method .*Statement::fetchAllAssociative#"
			count: 2
			path: Tests/Functional/Command/MigrateCommandTest.php

		-
			message: "#^Call to an undefined method .*Statement::fetchAllAssociative#"
			count: 1
			path: Tests/Functional/Migration/AbstractDataHandlerMigrationTest.php
