services:
  KayStrobach\Migrations\Service\DoctrineService:
    arguments:
      - '@TYPO3\CMS\Core\Package\PackageManager'

  KayStrobach\Migrations\Command\DiffCommand:
    arguments:
      - '@KayStrobach\Migrations\Service\DoctrineService'
    tags:
      - name: 'console.command'
        command: 'migrations:diff'
        schedulable: false
  KayStrobach\Migrations\Command\ExecuteCommand:
    arguments:
      - '@KayStrobach\Migrations\Service\DoctrineService'
    tags:
      - name: 'console.command'
        command: 'migrations:execute'
        schedulable: false
  KayStrobach\Migrations\Command\MigrateCommand:
    arguments:
      - '@KayStrobach\Migrations\Service\DoctrineService'
    tags:
      - name: 'console.command'
        command: 'migrations:migrate'
        schedulable: false
  KayStrobach\Migrations\Command\RollupCommand:
    arguments:
      - '@KayStrobach\Migrations\Service\DoctrineService'
    tags:
      - name: 'console.command'
        command: 'migrations:rollup'
        schedulable: false
  KayStrobach\Migrations\Command\UpToDateCommand:
    arguments:
      - '@KayStrobach\Migrations\Service\DoctrineService'
    tags:
      - name: 'console.command'
        command: 'migrations:uptodate'
        schedulable: false
  KayStrobach\Migrations\Command\StatusCommand:
    arguments:
      - '@KayStrobach\Migrations\Service\DoctrineService'
    tags:
      - name: 'console.command'
        command: 'migrations:status'
        schedulable: false
  KayStrobach\Migrations\Command\VersionCommand:
    arguments:
      - '@KayStrobach\Migrations\Service\DoctrineService'
    tags:
      - name: 'console.command'
        command: 'migrations:version'
        schedulable: false